* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

:root {
  --card-base-width: 135px;
  --card-base-height: 225px;
  --header-height: 3rem;

  --card-scale: 1.2;
  --card-width: calc(var(--card-base-width) * var(--card-scale));
  --card-height: calc(var(--card-base-height) * var(--card-scale));

  --palette-dark-green: #1b472c;
  --palette-green: #286740;
  --palette-light-green: #4ea155;
  --palette-dark-blue: #1e365a;
  --palette-blue: #2b65a8;
  --palette-light-blue: #5481d6;
  --palette-dark-magenta: #66213d;
  --palette-magenta: #a62f5c;
  --palette-light-magenta: #de3375;

  --palette-white: #eee;
  --palette-white-transparency: #eeeeee20;

  --primary-color: var(--palette-green);
  --dark-primary-color: var(--palette-dark-green);
  --light-primary-color: var(--palette-light-green);

  --color-text: var(--palette-white);
  --color-shadow: #1f1f1fa8;
  --color-bg-header: var(--dark-primary-color);
  --color-bg-button: var(--primary-color);
  --color-shadow-buttton: var(--dark-primary-color);
  --color-card-container: var(--light-primary-color);
}

body {
  position: relative;

  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}

aside{
  position: fixed;
  top: var(--header-height);
  width: 19rem;
  height: calc(100dvh - var(--header-height));

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  background-color: antiquewhite;

  transition: all 0.5s ease-in-out;
}


/*================================ GENERAL CLASSES =================================*/
/*#region*/
:focus {
  outline: 2px solid var(--light-primary-color);
  outline-offset: 2px;
}

.action-button {
  position: relative;
  display: block;

  width: 100%;
  min-height: 3rem;

  border: none;
  border-radius: 5px;
  background-color: var(--color-bg-button);

  padding: 0.8rem 1.5rem;

  box-shadow: var(--dark-primary-color) 0 0.3rem 0 0;

  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.action-button:active {
  background-color: var(--palette-white);
  color: var(--color-bg-button);
  transform: translateY(0.3rem);
  box-shadow: var(--color-shadow-buttton) 0 0 0 0;
}

.action-button.active {
  background-color: var(--palette-white);
  color: var(--color-bg-button);
  transform: translateY(0.3rem);
  box-shadow: var(--color-shadow-buttton) 0 0 0 0;
}

.rounded-slider-checkbox {
  appearance: none;
  position: relative;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 1.25rem;
  background-color: transparent;
  text-decoration: none;
  border-radius: 1rem;
  outline: 2px solid var(--dark-primary-color);
  outline-offset: 2px;
  cursor: pointer;
  transition: all .3s}

.rounded-slider-checkbox::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.rounded-slider-checkbox:checked{
  background-color: var(--light-primary-color);
}

.rounded-slider-checkbox:checked::before {
  left: 1.25rem;
  /* background-color: yellow; */
}

.rounded-slider-checkbox:hover {
  outline: 2px solid var(--light-primary-color);
  outline-offset: 2px;
}
/*#endregion*/

/*================================== SCROLL-BAR ====================================*/
/*#region*/
* {
  scrollbar-width: auto;
  scrollbar-color: var(--light-primary-color) rgb(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: inherit;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-primary-color);
  border-radius: 4px;
}
/*#endregion*/

/*============================== BACKGROUND PATTERNS ===============================*/
/*#region*/
.green-background-pattern {
  background-color: #30633d;
  background-image: linear-gradient(135deg, #276536 25%, transparent 25%),
    linear-gradient(225deg, #276536 25%, transparent 25%),
    linear-gradient(45deg, #276536 25%, transparent 25%),
    linear-gradient(315deg, #276536 25%, #30633d 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}

.blue-background-pattern {
  background-color: #2e538a;
  background-image: linear-gradient(
      135deg,
      rgb(48, 84, 139) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, rgb(48, 84, 139) 25%, transparent 25%),
    linear-gradient(45deg, rgb(48, 84, 139) 25%, transparent 25%),
    linear-gradient(315deg, rgb(48, 84, 139) 25%, #2e538a 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}

.magenta-background-pattern {
  background-color: #86254c;
  background-image: linear-gradient(135deg, #88274e 25%, transparent 25%),
    linear-gradient(225deg, #8a274e 25%, transparent 25%),
    linear-gradient(45deg, #88274e 25%, transparent 25%),
    linear-gradient(315deg, #88274e 25%, #86254c 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}
/*#endregion*/

/*============================== PREVIOUS CARDS MENU ===============================*/
/*#region*/
#previous-cards-aside{
  left: 0;
  transform: translateX(-100%);
  z-index:25;
}

#previous-cards-aside.opened {
  transform: translateX(0);
}

#previous-cards-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  max-height: 100%;
  overflow-y: scroll;
}

.small-previous-card{
  width: calc(var(--card-base-width) / 2);
  height: calc(var(--card-base-height) / 2);
  border-radius: 5px;
}

/*#endregion*/

/*================================== OPTIONS MENU ==================================*/
/*#region*/
#options-menu {
  right: 0;
  transform: translateX(100%);
  z-index: 30;
}

#options-menu.opened {
  transform: translateX(0);
}

#options-menu > ul {
  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.7rem;
}

.menu-option {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  border-bottom: 2px solid lightgray;
  padding-bottom: 0.7rem;
}

.menu-option > h3 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
}

#color-theme-selector {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  place-items: center;
}

.color-theme-option {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.color-theme-option > label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color-text);
  font-size: 0.8rem;
  font-weight: 600;
}

.color-theme-option > input {
  appearance: none;
  width: 100%;
  height: 2rem;
  border: 3px solid var(--palette-white);
  border-radius: 5px;
}

.color-theme-option > input:hover {
  outline: 2px solid var(--light-primary-color);
  outline-offset: 2px;
}

.color-theme-option > input:checked {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

#color-theme-green {
  background: linear-gradient(
    to right,
    var(--palette-dark-green) 0%,
    var(--palette-green) 50%,
    var(--palette-light-green) 100%
  );
}

#color-theme-blue {
  background: linear-gradient(
    to right,
    var(--palette-dark-blue) 0%,
    var(--palette-blue) 50%,
    var(--palette-light-blue) 100%
  );
}

#color-theme-magenta {
  background: linear-gradient(
    to right,
    var(--palette-dark-magenta) 0%,
    var(--palette-magenta) 50%,
    var(--palette-light-magenta) 100%
  );
}

#voice-speech-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#deck-selector {
  border-radius: .5rem;
  border: 2px solid var(--dark-primary-color);
  background-color: var(--primary-color);

  color: var(--color-text);
  padding: .2rem .4rem;

}
/*#endregion*/

/*==================================== HEADER ======================================*/
/*#region*/
header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);

  display: grid;
  grid-template-columns: var(--header-height) 1fr var(--header-height);
  place-items: center;

  background: linear-gradient(
    to bottom,
    var(--color-bg-header) 95%,
    transparent 100%
  );

  z-index: 20;
}

header > h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-text);
}

header > button {
  height: 60%;
  aspect-ratio: 1;

  border: none;
  color: var(--palette-white);
  background-color: transparent;

  cursor: pointer;
}

header > button > i {
  font-size: 1.1rem;
  font-weight: 300;
}

/*#endregion*/

/*====================================== MAIN ======================================*/
/*#region*/
#main {
  margin-top: var(--header-height);
  min-height: calc(100dvh - var(--header-height));
  max-width: 700px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 2rem 2rem;
}

/*_________________________________ DECKS __________________________________*/
/*#region*/
#deck-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 1.5rem;
}

#remaining-cards-counter {
  width: 100%;

  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: 400;

  text-align: center;
}

#decks-container {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

#showed-cards {
  position: relative;
  width: calc(var(--card-width) + 2rem);
  height: calc(var(--card-height) + 2rem);
}

#showed-cards > .card-container:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#showed-cards > .card-container:nth-child(2) {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
}

#showed-cards > .card-container:nth-child(2)::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: var(--color-card-container);
}

.card-container {
  position: relative;

  width: var(--card-width);
  height: var(--card-height);

  border-radius: 10px;
  border: 3px dashed var(--color-card-container);
  background-color: var(--palette-white-transparency);
}

.card-container > img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 10px;
  object-fit: cover;

  opacity: 0;

  z-index: 5;
}

#remaining-deck {
  position: relative;
  width: calc(var(--card-width) + 2rem);
  height: calc(var(--card-height) + 2rem);
  display: flex;
  justify-content: center;
}

#remaining-deck > img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: var(--card-width);
  height: var(--card-height);

  border-radius: 10px;
}

/*#endregion*/

/*_________________________________ BUTTONS __________________________________*/
/*#region*/
.buttons-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#auto-pass-interval-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  color: var(--color-text);
}

.auto-pass-input-container {
  height: 2rem;
  display: grid;
  grid-template-columns: 1.8rem 1fr 1.8rem;

  border: 2px solid var(--dark-primary-color);
  border-radius: 5px;
  background-color: white;
}

.auto-pass-input-container > button {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8rem;

  border: none;
  background: transparent;

  transition: all 0.5s;
}

.auto-pass-input-container > button:hover {
  opacity: 0.75;
}

.auto-pass-input-container > input {
  height: 100%;
  width: 100%;

  border: none;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  background: transparent;

  text-align: center;
}
/*#endregion*/

/*#endregion*/

/*================================== MEDIA QUERIES =================================*/
/*#region*/
@media screen and (max-width: 500px) {
  :root {
    --card-scale: 1;
  }

  #decks-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  #remaining-deck {
    height: calc(var(--card-width) + 2rem);
    transform: rotateZ(90deg) translateY(2rem) translateX(-1rem);
    transform-origin: center;
  }

  .action-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 300px) {
  :root {
    --card-scale: 0.8;
  }

  header > h1 {
    font-size: 1.1rem;
  }

  aside {
    width: 15rem;
  }

  #color-theme-selector{
    grid-template-columns: 1fr 1fr;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mediascreen desktop */
@media only screen and (min-width: 1024px) {
  :root {
    --card-scale: 1.5;
  }
}

/*#endregion*/
